*{
	font-family: monospace;
}
.navbar .navbar-brand{
	font-size: 30px;
	font-weight: 700px;
	text-transform: uppercase;
}
.navbar .nav-link{
	text-transform: uppercase;
}
.navbar .nav-link:hover{
	background-color:green;
}
.carousel-item img{
	height: 400px;
}
#gallery.img{
	height: 200px;
}